<div ng-controller="ctrlAdmonListaPrecios">
    <!-- Crear lista -->
    <div class="row">
        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <span style="font-size:18px" class="glyphicon glyphicon-search"></span>&nbsp;&nbsp;
                    <label class="panel-title">Lista (crear o seleccionar)</label>
                </div>
                <div class="panel-body">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Lista</th>
                                <th>Moneda</th>
                                <th>Oficinas o sucursales</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td width="40%">
                                    <select class="form-control" data-ng-model="cboLista">
                                        <option value="">- Seleccionar -</option>
                                        <option value="no">vas</option>
                                    </select>
                                </td>
                                <td><input style="width:55px" type="text" class="hdb-textbox" data-ng-model="ctMoneda" /></td>
                                <td width="50%">
                                    <select class="form-control" ng-options="suc as suc.sucursal for suc in sucursales track by suc.id" ng-change="onOpenSucursales(sucursal)" ng-model="sucursal">
                                        <option value="">- Seleccionar -</option>
                                    </select>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        
        <!-- Filtros -->
        <div class="col-md-8">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-md-6">
                            <span style="font-size:18px" class="glyphicon glyphicon-search"></span>&nbsp;&nbsp;
                            <label class="panel-title">Filtros</label>
                        </div>
                    </div>
                </div>
                <div class="panel-body">
                    <table class="table">
                        <thead>
                            <tr>
                                <th width="16%">Grupo</th>
                                <th width="16%">Marca</th>
                                <th width="16%">Estatus</th>
                                <th width="16%">Tipo</th>
                                <th width="16%">Nombre del producto</th>
                                <th width="16%">Articulos en lista</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    <select class="form-control" ng-options="g as g.grupo for g in grupos track by g.id" ng-model="grupo">
                                        <option value="">- Seleccionar -</option>
                                    </select>
                                </td>
                                <td>
                                    <select class="form-control" ng-options="m as m.marca for m in marcas track by m.id" ng-model="marca">
                                        <option value="">- Seleccionar -</option>
                                    </select>
                                </td>
                                <td>
                                    <select class="form-control" data-ng-model="estatus">
                                        <option value="">-Seleccionar -</option>
                                        <option value="true">false</option>
                                        <option value="false">true</option>
                                    </select>

                                </td>
                                <td>
                                    <select class="form-control" ng-options="t as t.tipo for t in tipos track by t.id" ng-model="tipo">
                                        <option value="">- Seleccionar -</option>
                                    </select>
                                </td>
                                <td>
                                    <select class="form-control" ng-options="p as p.producto for p in prodPrecios track by p.idProd" ng-model="producto">
                                        <option value="">- Seleccionar -</option>
                                    </select>
                                </td>
                                <td>
                                    <div class="checkbox text-center">
                                        <label>
                                            <input type="checkbox" ng-checked ng-model="isImportante" />
                                        </label>
                                    </div>
                                </td>
                                
                            </tr>
                        </tbody>
                    </table>
                    <div class="pull-right">
                        <button class="btn btn-default" data-ng-click="onReset()"><span class="fa fa-refresh fa-lg"></span> &nbsp; Resetear filtro</button>
                        <button class="btn btn-default" ng-click="testLista()"><span class="glyphicon glyphicon-th-list fa-lg"></span> &nbsp; Articulos en lista</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- Filtros ./ -->
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <label class="panel-title">Cátalogo de Articulos y Productos</label>
                    <button class="btn btn-default btn-circle pull-right" title="Agregar">
                        <span class="glyphicon glyphicon-plus fa-lg"></span>
                    </button>
                </div>
                <div class="panel-body">
                    <table class="table">
                        <thead>
                            <tr class="active" style="border-bottom:1px solid red">
                                <th>Opcion</th>
                                <th><span class="glyphicon glyphicon-star fa-lg"></span></th>
                                <th>Estatus</th>
                                <th>Tipo</th>
                                <th>Producto</th>
                                <th>Grupo</th>
                                <th>Marca</th>
                                <th>Unidad</th>
                                <td>Precio unitario</td>
                                <th>Cod Interno</th>
                                <th>Cod Producto</th>
                                <th>Cod de Barras</th>
                                <th>Garantía proveedor</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr data-ng-repeat="prod in prodPrecios | filter: grupo.grupo | filter: marca.marca | filter: estatus | filter: tipo.tipo | filter: producto.producto | filter: prodPrecios.isImportante ">
                                <td>
                                    <button class="btn btn-success btn-circle" title="Editar" data-ng-click="onEdit(prod)"><span class="glyphicon glyphicon-pencil fa-lg"></span></button>
                                    <button class="btn btn-danger btn-circle" ng-click="onConfirm(prod)" title="Eliminar">
                                        <span class="glyphicon glyphicon-trash fa-lg"></span>
                                    </button>
                                </td>
                                <td>
                                    <button class="btn btn-default btn-circle fa-lg" ng-disabled="!prod.isLista" ng-class="prod.isImportante ? 'hdb_active' : 'hdb_inactive'" ng-click="onChangeImportant(prod)">
                                        <span ng-class="prod.isImportante ? 'glyphicon glyphicon-star fa-lg' : 'glyphicon glyphicon-star-empty fa-lg'"></span>
                                    </button> 
                                </td>
                                <td>
                                    <input type="checkbox" name="name" value="" ng-disabled="!prod.isLista" ng-checked="prod.estatus" data-ng-click="onChangeImportant(prod)" />
                                </td>
                                <td>{{ prod.tipo.tipo }}</td>
                                <td>{{ prod.producto }}</td>
                                <td>{{ prod.grupo.grupo }}</td>
                                <td>{{ prod.marca.marca }}</td>
                                <td>{{ prod.unidad }}</td>
                                <td class="text-primary" style="font-size:18px"><b>{{ prod.precioUnitario = prod.isLista ? (prod.precioUnitario) : 0 }}</b></td>
                                <!--<td class="text-primary" style="font-size:18px"><b>{{ prod.precioUnitario | currency }}</b></td>-->
                                <td>{{ prod.codInterno }}</td>
                                <td>{{ prod.codProducto }}</td>
                                <td>{{ prod.codBarras }}</td>
                                <td>{{ prod.garantia }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <mdl-Sucursal></mdl-Sucursal>
    <mdl-Editar-Precio></mdl-Editar-Precio>
    <mdl-Eliminar></mdl-Eliminar>
</div>