<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    <system.web>
      <compilation debug="true" targetFramework="4.5" />
      <httpRuntime targetFramework="4.5" />
      
    </system.web>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <!--<binding name="soapHttpEndpoint" />-->
        <binding name="soapHttpEndpointHttps">
          <security mode="Transport" />
        </binding>
      </basicHttpBinding>
    </bindings>
    <client>
      <!-- <endpoint address="http://timbrado.facturarenlinea.com/WSTFD.svc"
                binding="basicHttpBinding" bindingConfiguration="soapHttpEndpoint"
                contract="WSFEL.IWSTFD" name="soapHttpEndpoint" />-->
      <endpoint address="https://timbrado.facturarenlinea.com/WSTFD.svc"
          binding="basicHttpBinding" bindingConfiguration="soapHttpEndpointHttps"
          contract="WSFEL.IWSTFD" name="soapHttpEndpointHttps" />
    </client>
  </system.serviceModel>
  
  
  <connectionStrings>
    <add name="strConnection" connectionString="connectionString=&quot;Server=QSGSERVER\SQLEXPRESSQSG; Database=LittleCaesarDev; User Id=sa; password=M1n0taur0&quot; providerName=&quot;System.Data.SqlClient&quot;" />
  </connectionStrings>

</configuration>
