<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
    <link rel='icon' type='image/x-icon' href='/favicon.ico' />
    <link rel="Shortcut Icon" type="image/png" href="favicon.png" />
</head>
<body ng-app="qubicApp">
    <div id="wrapper" ng-controller="QFormController">

        <!-- Navigation -->
        <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <a class="navbar-brand" href="#">
                    <img alt="Logo" style="margin-top: -15px;" ng-src="{{'images/' + selectedCompany.Logo + 'P.png'}}">
                </a>
            </div>
            <ul class="nav navbar-nav">
                <li>
                    <a href="#" style="color: #fff;">{{selectedCompany.Name}} </span></a>
                </li>
            </ul>
            <div class="navbar-header">
                <ol class="breadcrumb" id="pnlPath">
                    <li>Home</li>
                    <li>Library</li>
                    <li class="active">Data</li>
                </ol>
            </div>
            <div class="navbar-header" style="float:right;">  
                <ol class="breadcrumb" id="pnlUser">
                    <li class="active">{{user.Nombre}}</li>
                </ol>
                
            </div>
        </nav>

        <div id="page-wrapper">

            <div class="container">
                <div style="clear: both;"></div>

                <!-- CONTENIDO... -->
                <div id="pnlActions" class="row text-right" style="margin-top: 70px; margin-bottom: 50px;">
                    <button id="cmdReport" class="btn btn-default" ng-disabled="reportAction" ng-hide="reportEvent" title="Reporte" ng-click="onReportAction();"><span class="glyphicon glyphicon-th-list"></span></button>
                    <button id="cmdClear" class="btn btn-default" ng-disabled="clearAction" ng-hide="clearEvent" title="Limpiar" ng-click="onClearAction();"><span class="glyphicon glyphicon-erase"></span></button>
                    <button id="cmdSave" class="btn btn-default" ng-disabled="saveAction" ng-hide="saveEvent" title="Grabar" ng-click="onSaveAction();"><span class="glyphicon glyphicon-floppy-disk"></span></button>
                    <button id="cmdBuscar" class="btn btn-default" ng-disabled="searchAction" ng-hide="searchEvent" title="Buscar" ng-click="onSearchAction();"><span class="glyphicon glyphicon-search"></span></button>
                    <button id="cmdDelete" class="btn btn-default" ng-disabled="deleteAction" ng-hide="deleteEvent" title="Eliminar" ng-click="onDeleteAction();"><span class="glyphicon glyphicon-trash"></span></button>
                    <button id="cmdExport" class="btn btn-default" ng-disabled="exportAction" ng-hide="exportEvent" title="Exportar" ng-click="onExportAction();"><span class="glyphicon glyphicon-export"></span></button>
                    <button id="cmdPrint" class="btn btn-default" ng-disabled="printAction" ng-hide="printEvent" title="Imprimir" ng-click="onPrintAction();"><span class="glyphicon glyphicon-print"></span></button>
                    <button id="cmdClose" class="btn btn-default" title="Cerrar Pantalla" ng-click="onCloseAction();"><span class="glyphicon glyphicon-log-out"></span></button>
                </div>

                <div class="row errorMessage" style="display: none;">
                    <div class="col-md-12">
                        <div class="alert" role="alert">
                            <span id="lblErrorMessage"></span>
                        </div>
                    </div>
                </div>


                <div id="pnlControlContainer" class="row">
                </div>

                <!-- FIN CONTENIDO -->

                <!-- FOOTER -->
                <div class="row navbar-fixed-bottom">
                    <div class="col-md-12">
                        <img class="pull-right" src="images/QLogo.png" style="height: 45px;" />
                    </div>
                </div>
                <!-- END FOOTER -->

            </div>
            <!-- /.container-fluid -->

        </div>
        <!-- /#page-wrapper -->

    </div>
    <!-- /#wrapper -->


    <!-- jQuery -->
    <script src="js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>

    <script src="js/angular.min.js"></script>
    <script src="app/js/controller.js"></script>
    <script src="app/js/QFormController.js"></script>
    <script src="app/js/userscontroller.js"></script>


    <!--  ---------------------------------  O P E R A T I V A S   -----------------------------------------   -->
    <!-- Alan -->
    <script type="text/javascript" src="QAGC/js/controllers/ctrlArticuloServicio.js"></script>
    <script type="text/javascript" src="QAGC/js/directives/dvaArticuloServicio.js"></script>
    <script type="text/javascript" src="QAGC/js/controllers/ctrlAdmonListaPrecios.js"></script>

    <!-- Majahide -->
    <script type="text/javascript" src="QAGC/js/controllers/ctrlOfficesController.js"></script>
    <script type="text/javascript" src="QAGC/js/controllers/ctrlPriceListsController.js"></script>
    <script type="text/javascript" src="QAGC/js/controllers/ctrlFactorController.js"></script>
<!--    <script type="text/javascript" src="QAGC/js/controllers/ctrlFactorControllerFake.js"></script>-->


    <script type="text/javascript">
        $(document).ready(function () {
            $('[data-toggle="tooltip"]').tooltip();
            $('[data-toggle="popover"]').popover();
        });

        // Esta funcion solo convierte del formato Asp.net a date del javascript
        function convertJSONtoDate(f) {
            if (f == null)
                f = new Date(1);
            else
                f = new Date(f.match(/\d+/)[0] * 1);

            return f;
        };

        function convertDateToJSON(f) {
            console.log('Fecha enviada.');
            console.log(f);
            if (f == undefined)
                f = undefined;
            else if (f == null) 
                f = undefined;
            else
                f = '\/Date(' + f.getTime() + ')\/';
            
            return f;
        }
        /*!
 * jQuery.parseJSON() extension (supports ISO & Asp.net date conversion)
 *
 * Version 1.0 (13 Jan 2011)
 *
 * Copyright (c) 2011 Robert Koritnik
 * Licensed under the terms of the MIT license
 * http://www.opensource.org/licenses/mit-license.php
 */
        (function ($) {

            // JSON RegExp
            var rvalidchars = /^[\],:{}\s]*$/;
            var rvalidescape = /\\(?:["\\\/bfnrt]|u[0-9a-fA-F]{4})/g;
            var rvalidtokens = /"[^"\\\n\r]*"|true|false|null|-?\d+(?:\.\d*)?(?:[eE][+\-]?\d+)?/g;
            var rvalidbraces = /(?:^|:|,)(?:\s*\[)+/g;
            var dateISO = /\d{4}-\d{2}-\d{2}T\d{2}:\d{2}:\d{2}(?:[.,]\d+)?Z/i;
            var dateNet = /\/Date\((\d+)(?:-\d+)?\)\//i;

            // replacer RegExp
            var replaceISO = /"(\d{4})-(\d{2})-(\d{2})T(\d{2}):(\d{2}):(\d{2})(?:[.,](\d+))?Z"/i;
            var replaceNet = /"\\\/Date\((\d+)(?:-\d+)?\)\\\/"/i;

            // determine JSON native support
            var nativeJSON = (window.JSON && window.JSON.parse) ? true : false;
            var extendedJSON = nativeJSON && window.JSON.parse('{"x":9}', function (k, v) { return "Y"; }) === "Y";

            var jsonDateConverter = function (key, value) {
                if (typeof (value) === "string") {
                    if (dateISO.test(value)) {
                        return new Date(value);
                    }
                    if (dateNet.test(value)) {
                        return new Date(parseInt(dateNet.exec(value)[1], 10));
                    }
                }
                return value;
            };

            $.extend({
                parseJSON: function (data, convertDates) {
                    /// <summary>Takes a well-formed JSON string and returns the resulting JavaScript object.</summary>
                    /// <param name="data" type="String">The JSON string to parse.</param>
                    /// <param name="convertDates" optional="true" type="Boolean">Set to true when you want ISO/Asp.net dates to be auto-converted to dates.</param>

                    if (typeof data !== "string" || !data) {
                        return null;
                    }

                    // Make sure leading/trailing whitespace is removed (IE can't handle it)
                    data = $.trim(data);

                    // Make sure the incoming data is actual JSON
                    // Logic borrowed from http://json.org/json2.js
                    if (rvalidchars.test(data
                        .replace(rvalidescape, "@")
                        .replace(rvalidtokens, "]")
                        .replace(rvalidbraces, ""))) {
                        // Try to use the native JSON parser
                        if (extendedJSON || (nativeJSON && convertDates !== true)) {
                            return window.JSON.parse(data, convertDates === true ? jsonDateConverter : undefined);
                        }
                        else {
                            data = convertDates === true ?
                                data.replace(replaceISO, "new Date(parseInt('$1',10),parseInt('$2',10)-1,parseInt('$3',10),parseInt('$4',10),parseInt('$5',10),parseInt('$6',10),(function(s){return parseInt(s,10)||0;})('$7'))")
                                    .replace(replaceNet, "new Date($1)") :
                                data;
                            return (new Function("return " + data))();
                        }
                    } else {
                        $.error("Invalid JSON: " + data);
                    }
                }
            });
        })(jQuery);
    </script>

</body>
</html>
