.optMnu_0 {  /* QubicMenu */
    background-color: #2980B9 !important;
    color: #ddd;
}

.optMnu_0:hover {
    color: yellow !important;
}

.optMnu_1 { /* QubicOption */
    background-color:#fff !important;
    color: #555 !important;
}

.optMnu_1:hover {
    color: blue !important;
}

.optMnu_2 { /* Application */
    background-color:#D35400 !important;
    color: #222 !important;
}

.optMnu_2:hover {
    color: cyan !important;
}

.optMnu_3 { /* Module */
    background-color:#E67E22 !important;
    color: #444 !important;
}

.optMnu_3:hover {
    color: red !important;
}

.optMnu_4 { /* Option */
    background-color:#fff !important;
    color: #555 !important;
}

.optMnu_4:hover {
    color: green !important;
}


.side-nav {
    border-right-color: #D35400 !important; 
}


div#pnlActions > button > span {
    color:#D35400 !important;
}