<div ng-controller="pwdController">
    <div class="row errorMessage" style="display: none;">
        <div class="col-md-12">
            <div class="alert alert-danger" role="alert">
                <span id="lblErrorMessage"></span>
            </div>
        </div>
    </div>

    <div class="col-md-12 form-group">
        <div class="panel panel-default">
            <div class="panel-heading">{{filtro}}</div>
            <div class="panel-body">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Cod. Us.</th>
                            <th>Nombre completo</th>
                            <th>Alias</th>
                            <th>Perfil de usuario</th>
                            <th>Usuario (email)</th>
                            <th>Puesto </th>
                            <th>Fecha de Alta</th>
                        </tr>
                    </thead>
                    <tr>
                        <td>
                            <input type="text" ng-model="selectedUser.UsuarioID" class="form-control" placeholder="Codigo" /></td>
                        <td>
                            <input type="text" ng-model="selectedUser.Nombre" class="form-control" placeholder="Nombre Completo" /></td>
                        <td>
                            <input type="text" ng-model="selectedUser.Alias" class="form-control" placeholder="Alias" /></td>
                        <td>
                            <select id="Select1" ng-model="selectedPerfil" class="form-control" ng-options="itm.name for itm in perfiles">
                            </select>
                        </td>
                        <td>
                            <input type="email" ng-model="selectedUser.Email" class="form-control" placeholder="Correo Electronico" /></td>
                        <td>
                            <input type="text" ng-model="selectedUser.Titulo" class="form-control" placeholder="Puesto" /></td>
                        <td>
                            <input type="date" ng-model="selectedUser.FechaAlta" class="form-control" placeholder="Fecha Alta" /></td>
                    </tr>
                </table>
                <div class="col-md-12 text-right" style="display: none;">
                    <button class="btn btn-primary" id="cmdSearch" ng-click="onSearch();">
                        <span class="glyphicon glyphicon-search"></span>
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-12 form-group " id="pnlResultSearch" style="display: none;">
        <div class="panel panel-default">
            <div class="panel-heading">Seleccionar Usuario</div>
            <div class="panel-body">
                <table class="table">
                    <thead>
                        <tr>
                            <th>...</th>
                            <th>Cod. Us.</th>
                            <th>Nombre completo</th>
                            <th>Alias</th>
                            <th>Perfil de usuario</th>
                            <th>Usuario (email)</th>
                            <th>Puesto</th>
                            <th>Fecha de Alta</th>
                        </tr>
                    </thead>
                    <tr ng-repeat="user in users">
                        <td>
                            <a href="#" ng-click="onUserSelected(user.UsuarioID)"><span class="glyphicon glyphicon-pencil"></span></a>
                        </td>
                        <td>{{user.UsuarioID}}</td>
                        <td>{{user.Nombre}}</td>
                        <td>{{user.Alias}}</td>
                        <td ng-show="user.Tipo==0">N/A</td>
                        <td ng-show="user.Tipo==1">Administrador</td>
                        <td ng-show="user.Tipo==2">Usuario</td>
                        <td>{{user.Email}}</td>
                        <td>{{user.Titulo}}</td>
                        <td>{{user.FechaAlta}}</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    <div class="col-md-12 form-group" id="pnlReset" style="display: none;">

        <div class="col-md-2 col-md-offset-1">
            <div class="funkyradio">
                <div class="funkyradio-success">
                    <input ng-model="selectedUser.Bloqueo" type="checkbox" id="chkBloqueoU" />
                    <label for="chkBloqueoU">
                        Bloquear

                    </label>
                </div>
            </div>

            <table class="table" style="display: none">
                <thead>
                    <tr>
                        <th>Bloquear</th>
                    </tr>
                </thead>
                <tr>
                    <td>
                        <div class="checkbox">
                            <label>
                                <input ng-model="selectedUser.Bloqueo" type="checkbox" />
                            </label>
                        </div>
                    </td>
                </tr>
            </table>
        </div>
        <div class="col-md-7 col-md-offset-1">
            <div class="panel panel-default">
                <div class="panel-heading">Resetear contraseña</div>
                <div class="panel-body">
                    <div class="form-group">
                        <div class="col-sm-12">
                            <div class="funkyradio">
                                <div class="funkyradio-success">
                                    <input ng-model="contrasenaTipo" type="radio" value="XSistema" name="Contrasena" id="optContrasenaXSistema" />
                                    <label for="optContrasenaXSistema">Sistema define contraseña provisional aleatoriamente </label>
                                </div>
                                <div class="funkyradio-success">
                                    <input ng-model="contrasenaTipo" type="radio" value="XAdmin" name="Contrasena" id="optContrasenaXAdmin" />
                                    <label for="optContrasenaXAdmin">Contraseña definida por el administrador  </label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group" style="display: none">
                        <div class="col-sm-12">
                            <div class="checkbox">
                                <label>
                                    <input ng-model="resetSpecs.ContrasenaXAdmin" type="checkbox">
                                    -- Contraseña definida por el administrador 
                                </label>
                            </div>
                        </div>
                    </div>
                    <form class="form-horizontal">
                        <div class="form-group">
                            <label for="txtClaveAcceso" class="col-sm-5 control-label">Password (Preliminar)</label>
                            <div class="col-sm-7">
                                <input ng-model="selectedUser.UsPwd" type="password" class="form-control" id="Password1" placeholder="Password">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="txtConfirmacion" class="col-sm-5 control-label">Confirme Password (Preliminar)</label>
                            <div class="col-sm-7">
                                <input ng-model="selectedUser.Confirmacion" type="password" class="form-control" id="Password2" placeholder="Password">
                            </div>
                        </div>

                        <hr />
                        <div class="form-group">
                            <label for="txtCorreo" ng-model="selectedUser.FechaReseteo" class="col-sm-5 control-label">Fecha de Reseteo</label>
                            <div class="col-sm-7">
                                <input type="date" class="form-control" id="Email1" placeholder="Fecha" disabled="disabled">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="txtPuesto" class="col-sm-5 control-label">Administrador que opero</label>
                            <div class="col-sm-7">
                                <input type="text" ng-model="selectedUser.Administrador" class="form-control" id="Text3" placeholder="Administrador" disabled="disabled">
                            </div>
                        </div>

                    </form>
                    <div class="form-group">
                        <div class="col-sm-12">
                            <div class="funkyradio">
                                <div class="funkyradio-success">
                                    <input ng-model="selectedUser.EnviarContrasena" type="checkbox" id="chkEnviarContrasena" />
                                    <label for="chkEnviarContrasena">
                                        Enviar contraseña provisional al usuario via correo electronico
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group text-center" style="display: none;">
                        <button class="btn btn-primary" ng-click="onSaveProfile()">Aceptar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
</div>
